/* I can't get away from CSS! */
.parent {
  position: relative;

}

.child {
  position: fixed;
  transform: translateX(100%) rotate(90deg);
  transform-origin: left top;
  left: 50%; /* change this value to match needs */
  top: 10px; /* change this value to match needs */
}

body {
    background-image: url("images/clearcase.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}


.tagholder {
    position: relative;
}

.circle {
    margin-left: 50%;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
